//主字色
$main-font: #fed792;
$subs-font:#b4b4b4;

//header色
$header_BG_1: #1b1b1b;
$header_BG_2: linear-gradient(to top, #242424 0%, #171717 24%,#333333 100%);
$header_BG_3:#313131;
$header_accWord:#FFFFFF;
$header_Nav_Word: #fed792;
$header_Nav_ActiveBG: linear-gradient(to top,#fed792 0%,#62553f 5%,#1e1e1e 31%,#171717 100%);
$header_Money_BG: #313131;
$header_Money_innerBG: #242424;
$header_Money_Border: #fed792;
$header_Money_innerBorder: #9f9f9f;
$header_Money_moneyWord: #ffffff;
$header_Message_AlarmBG: #f73232;
$header_Message_AlarmNum: #ffffff;
$header_dropdownBG: linear-gradient(to top, #25221c 0%,#101010 76%);
$header_dropdown_border:#fed792;
$header_dropdown_font:#fed792;
@mixin headerBtn_1 {
    background: linear-gradient(to top,#b9b9b9 0%,#e6e6e6 100%);
    border: none;
    border-radius: 5px;
    color: #101010;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;

    &:hover,&:active,&.active {
        background: linear-gradient(to bottom,#8a8a8a 0%,#e6e6e6 100%);
    }
}
@mixin headerBtn_2 {
    background: linear-gradient(to top,#bc9c64 4%,#f3d197 93%);
    border: none;
    border-radius: 5px;
    color: #101010;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;

    &:hover,&:active,&.active {
        background: linear-gradient(to bottom,#92794e 4%,#f3d197 93%);
    }
}
@mixin headerBtn_3 {
    background: linear-gradient(to top, #333333 0%,#424242 100%);
    border: none;
    border-radius: 5px;
    color: #fed792;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;

    &:hover,&:active,&.active {
        background: linear-gradient(to bottom,#92794e 4%,#f3d197 93%);
        color:#101010;
    }
}   

//按鈕樣式

// --黃漸層底|黑字--
@mixin buttonA {
    background: linear-gradient(to top, #fed792 0%, #dfb975 23%,#fed792 65%);
    color: #101010;
    border-radius: 5px;
    cursor: pointer;

    &:hover, &:active {
        background: linear-gradient(to bottom, #bc9c64 4% , #f3d197 93%);
    }
}

// --黑漸層底|黃字--
@mixin buttonB {
    background:linear-gradient(to top, #0f0f0f 0% , #1f1f1f 62% , #2b2823 100%);
    color: #fed792;
    border: 1px solid #ba985f;
    border-radius: 5px;
    cursor: pointer;

    &:hover, &.active {
        background: #0f0f0f;
    }
}


//input樣式
@mixin inputMain {
    background: $coverBg;
    border: 1px solid $jp_btnBorder;
    border-radius: 5px;
}

//ad
$ad_Dot_BG: #ffffff80;
$ad_Dot_Active: #bf9b5b;
$ad_Dot_Border: #ffffff;

//marquee
$marquee_bg:#313131d7;
$marquee_border:#fed792;
$marquee_title:#fed792;
$marquee_content:#eaeaea;

//platformGame 遊戲廠商頁面
$pfGame_Title: #fed792;
$pfGame_subTitle: #b38f4f;
$pfGame_textBox: #fff8d4;
$pfGame_pfName: #fed792;

//eventPage 優惠活動
$eventPage_Border: #fed792;
$eventPage_innerBorder: #5c5c5c;
$eventPage_blockBg: #252525;
$eventPage_blockBgHover: #fed792;
$eventPage_mainFont: #fed792;
$eventPage_subFont: #101010;
$eventPage_btnUnactFont: #b9b9b9;
$eventPage_btnUnactBg: #5e5e5e;
$eventPage_btnUnactFontH: #ffffff;
$eventPage_btnUnactBgH: #5e5d5d;
$eventPage_btnactBg: #bf9d61;
$eventPage_btnactBgH: linear-gradient(to top, #bc9c64 4%, #f3d197 93%);
$eventPage_btnactCheckBg: #101010;
$eventPage_btnactCheckBgH: linear-gradient(to top, #0f0f0f 0%, #1f1f1f 62%, #2b2823 100%);
$eventPage_pageBtnBG: #fed792;
$eventPage_pageBtnUP: #666666;
// --黑底黃字按鈕(查看)--
@mixin darkBtn{
    color: #fed792;
    background: #101010;
    border: 1px solid #fed792;
    border-radius: 5px ;
    cursor: pointer;

    &:hover{
        background: linear-gradient(to top, #0f0f0f 0%, #1f1f1f 62%, #2b2823 100%);
    }
}

//Page_gameList
$pageGameList_mainFont: #fed792;
$pageGameList_subFont: #b4b4b4;
$pageGameList__Border: #fed792;
$pageGameList__BG: #252522;
$pageGameList_innerBorder: #5c5c5c;
$pageGameList_mask: #0f0f0f70;
$pageGameList__searchBG: #121212;

//service
$service_BG: linear-gradient(to top, #101010 0%, #2a2723 100%);
$service_Border: #ba985f;
$service_innerBorder: #4b4b4b;
$service_lightMask: #fff4c715;

//footer
$footerBG: #0b0b0b;
$footer_Top_BG: linear-gradient(to top, #242424 0%, #171717 24%,#333333 100%);
$footer_Top_Word: #d9d9d9;
$footer_Top_Active: #fed792;
$footer_Bottom_Word: #828282;


//jumpWindow
$coverBg: #000000b3;
$jpWBG: #252525;
$jpW_TitleBG:linear-gradient(to top, #fed792 0%, #dfb975 23%,#fed792 65%);
$jpW_Title: #252525;
$jp_main-font: #fed792;
$jp_subs-font: #f5eecc;
$jpW_OuterBorder: #fed792;
$jpW_TabsBg: #fed792;
$jumpWindowTabsBg: linear-gradient(to top, #2f2f2f 0% , #404040 100%);
$jpW_TabsBgAct: linear-gradient(to top, #252525 0% , #2c2c2c 69% , #4f4534 100%);
$jpW_Boder: #5c5c5c;
$jpW_Date:#b4b4b4;
$jpW_remind: #ff2c2c;
$jp_btnBG: linear-gradient(to top, #0f0f0f 0% , #1f1f1f 62% , #2b2823 100%);
$jp_btnBGHover: #0f0f0f;
$jp_btnBorder: #ba985f;