//BG
.bg {
    background: url('../images/bgFT.png') no-repeat top center;
    background-size: cover;
}

//header
header .accountBox .account::before {
    background: url('../images/icon/svg/log-ac.svg') no-repeat;
    background-size: contain;
}
header .accountBox .password::before {
    background: url('../images/icon/svg/log-pw.svg') no-repeat;
    background-size: contain;
}
header .accountBox .password::after {
    background: url('../images/icon/svg/log-forget.svg') no-repeat;
    background-size: contain;
    cursor: pointer;
}
header .logo img {
    height: 99px;
    object-fit: contain;
}


//header登入
header .top .accountBox .btnLine .memberCenter .member_ic{
    background: url('../images/icon/svg/login-member.svg') no-repeat;
    background-size: contain;
}
header .top .accountBox .btnLine .message .mail_ic{
    background: url('../images/icon/svg/login-message.svg') no-repeat;
    background-size: contain;
}

//nav導航列


//遊戲種類
.gameBlock.sport {
    background: url('../images//gameType/old/btnBG.png') no-repeat;
    background-size: cover;
}
.gameBlock.live {
    background: url('../images//gameType/old/btnBG.png') no-repeat;
    background-size: cover;
}
.gameBlock.lottery {
    background: url('../images//gameType/old/btnBG.png') no-repeat;
    background-size: cover;
}
.gameBlock.slot {
    background: url('../images//gameType/old/btnBG.png') no-repeat;
    background-size: cover;
}
.gameBlock.fish {
    background: url('../images//gameType/old/btnBG.png') no-repeat;
    background-size: cover;
}
.gameBlock.poker {
    background: url('../images//gameType/old/btnBG.png') no-repeat;
    background-size: cover;
}
.gameBlock .arrow_ic {
    background: url('../images//gameType/arrow_ic.png') no-repeat;
    background-size: contain;
}

//service
.homeWrap .service .img {
    background: url('../images/service/service_ic.png') no-repeat;
    background-size: 300%;
}

//合作平台
.platform{
    height:35.8px;
    width: auto;
}


//ad
.ad .single-item img {
    height: 380px;
    background-size: contain;
}

//platformGame
.platformGame .leftArea img {
    width: 100%;
    object-fit: contain;
}
.platformGame .rightArea img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    object-position: top;
}

//eventPage 優惠頁面
.eventPage .topArea .eventBanner{
    width: 100%;
    height: 221px;
    background: url('../images/eventPage/eventBanner.png') no-repeat;
    position: absolute;
    top: 100px;
    left: 0;
}

.eventPage .leftArea li .eventDateIc {
    width: 27px;
    height: 27px;
    background: url('../images/icon/event-date.png') no-repeat;
    background-size: cover;
    margin-right: 17px;
    background-position-y: 0;
}

.eventPage .rightArea .eventDitail .backIc{
    width: 16px;
    height: 14px;
    background: url('../images/icon/svg/event-backBtn.png') no-repeat;
    background-size: contain;
    margin-right: 10px;
}

//gameList
//--搜索列ICON--
.listAll .top .searchBox .searchIc {
    width: 19px;
    height: 20px;
    background: url('../images/icon/search.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 147px;
    left: 1287px;

}

.listAll .gameCloum .gameBlock .picBox {
    //--遊戲圖片--
        width: auto;
        height: 146px;
        position: relative;

        .mask {
            width: 224px;
            height: 146px;
            background: $pageGameList_mask;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.3s all;
        } 
        &:hover .mask{
            opacity: 1;
        }
    }

//--收藏遊戲--
.listAll .addLike {
    background: url('../images/icon/like.png') no-repeat;
    background-size: 200%;
}

//彈跳視窗
.coverBg .quickTransfer .tabsContent .transfer{
    background:  url('../images/icon/transfer.png') no-repeat;
    width: 22px;
    height: 25px;
}