.coverBg {
    width: 100%;
    height: 100%;
    background: $coverBg;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;

    &.display {
        display: flex;
    }

    .jumpWindow {
        height: auto;
        width: 100%;
        background: $jpWBG;
        border: solid 1px $jpW_OuterBorder;
        border-radius: 10px;


        .titleArea {
            background: $jpW_TitleBG;
            border-radius: 8px 8px 0 0;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .title {
                color: $jpW_Title;
                font-size: 20px;
                font-weight: bold;
            }

            .closeBtn {
                position: absolute;
                right: 22px;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    background: $jpW_Title;
                }

                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
            }
        }

        //--最新消息--
        &.news {
            width: 840px;

            .tabs {
                display: flex;
                width: 100%;
                height: auto;
                padding: 29px 25px 0 25px;
    
                li {
                    width: auto;
                    height: auto;

                    &:hover,&:active,&.active {    
                        a {
                            background: $jpW_TabsBgAct;
                            border-radius: 5px 5px 0 0;
                            color: $jp_main-font;
                            margin-right: 3px;

                            &::before {
                                display: block;
                            }
                        }
                    }
                         
                    a {
                        display: block;
                        background: $jpW_TabsBgAct;
                        color: $jpW_Date;
                        border-radius: 5px 5px 0 0;
                        border:1px solid $jpW_Boder;
                        border-bottom: 0;
                        font-size: 16px;
                        text-decoration: none;
                        margin-right: 3px;
                        padding: 11px 39px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                            width: 100%;
                            height: 1px;
                            background: $jpWBG;
                            display: none;
                        }
                    }
                }
            }

            //消息內容
            .tabsContent {
                width: 100%;
                height: auto;
                padding: 0 25px 29px;
                    
                ul {
                    width: 100%;
                    height: auto;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        height: 50px;
                        border-bottom: 1px solid $jpW_Boder;
                        padding: 0 6px;
                        cursor: pointer;
    
                        &:first-child {
                            border-top: solid 1px $jpW_Boder;
                        }

                        p {
                            color: $jp_main-font;
                            font-size: 16px;
                            font-weight: bold;
                            width: 80%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            &.date {
                                width: auto;
                                color: $jpW_Date;
                            }
                        }
                    }
                }
            }
        }

        //登入/帳密提示
        &.plzLogin, &.logHint, &.nonExist {
            width: 421px;

            >.tabsContent {
                width: 100%;
                height: auto;
                padding: 32px 83px;

                p {
                    display: flex;
                    justify-content: center;
                    font-size: 16px;
                }

                .content {
                    color: $jp_main-font;
                }

                    .checkBtn {
                        @include buttonA;
                        width: 250px;
                        height: 42px;
                        font-weight: bold;
                        text-align: center;
                        padding-top: 14px;
                        margin-top: 30px;
                    }
             }
            
        }

        //忘記密碼
        &.forgotPw {
            width: 421px;

            >.tabsContent {
                width: 100%;
                height: auto;
                padding: 27px 69px;
        

                .inputBox {
                    width: 280px;
                    margin-bottom: 15px;

                    .phoneNum {
                        @include inputMain;
                        width: 280px;
                        height: 41px;
                        padding: 9px;
                        margin-bottom: 15px;

                        &::placeholder {
                            color: $jpW_Date;
                        }
                    }
                }

                .checkBtn {
                    @include buttonA;
                    width: 100%;
                    height: 42px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 14px;
                    margin-top: 9px;
                }
                
                //紅字提醒訊息
                .remind {
                    color: $jpW_remind;
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                }
            
             }
            
        }

        //快速轉帳
        &.quickTransfer {
            width: 420px;

            .tabsContent {
                width: 100%;
                height: auto;
                padding: 27px 40px 0;

                .Line {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    .mainFont {
                        width: 100px;
                        color: $jp_main-font;
                        font-size: 16px;
                        flex-shrink: 0;
                    }

                    .transPlatform {
                        width: 100%;
                        color: $jp_subs-font;
                        font-size: 28px;
                        font-weight: bolder;
                    }

                    .iconBox {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                    }

                    input {
                        @include inputMain;
                        width: 100%;
                        height: 42px;
                        padding: 9px;

                        &::placeholder {
                            color: #fff;
                            font-size: 17px;
                        }
                    }

                    .btnBox {
                        width: 100%;
                        height: auto;
    
                        .moneyBtn {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 6px;
                            margin-bottom: 12px;
    
                            .myBlock {
                                @include buttonB;
                                width: auto;
                                height: 30px;
                                font-size: 15px;
                                text-align: center;
                            }
                        }
                    }
                }
             }
             
             .checkBtn {
                @include buttonA;
                width: 100%;
                height: 42px;
                font-weight: bolder;
                text-align: center;
                line-height: 43px;
            }

            .bottom {
                padding: 16px 69px;
                border-top: 2px solid $jpW_Boder;
            }
        }
    }
}
