html {

    body {
        min-width: 1200px;
        position: relative;

        @import "./header";
        @import "./ad";
        @import "./home";
        @import "./gameType";
        @import "./service";
        @import "./footer";
        @import "./jumpWindow";
        @import "./platformGame";
        @import "./eventPage";
        @import "./gameList";

        .bg {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -999;
        }
    }
}